body {
    background: #ff9000;
    background: linear-gradient(0deg,#ff9000 0%, rgba(0,255,0,0) 0%);
    background: -webkit-linear-gradient(0deg,#ff9000 0%, rgba(0,255,0,0) 3%);
    background: -moz-linear-gradient(0deg,#ff9000 0%, rgba(0,255,0,0) 0%);
    

}
footer {
    background-color: #aaa;

}

h1,
h2 {
    font-family: 'alfa slab one', cursive;
    color: black;
}

p {
    
    color: black;
}

.hero {
    text-align: right;
    justify-content: right;
 
    

}
.imagen_1{
    width: 950px;
    height: 500px;
 
   
}

